body{
    align-items: center;
    padding: 20px;
    background: lightblue;
    border-radius: 3px;
}
.number{
    font-size:60px ;
    color: black;
    margin:20px
}
button{
      font-size: 20px;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  
}
button:hover{
    background-color:blue

}